@use "../../sass/index" as *;

a.active {
  color: red;
}

.logo {
  display: flex;
  align-items: center;
  img {
    margin-right: 1rem;
  }
}
.header {
  position: fixed;
  width: 100%;
  transition: opacity 0.4s ease, transform 0.5s ease;

  &.hide {
    transform: translateY(-100%);
  }

  &.active {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.header.hide .menu {
  @include mobile {
    position: fixed;
    bottom: -100vh;
  }
}
.header.active .menu {
  @include mobile {
    position: fixed;
    bottom: -100vh;
  }
}
.menu {
  display: flex;
  align-items: center;
  gap: 4rem;

  @include mobile {
    position: fixed;
    gap: 0;
    bottom: 0;
    height: 5rem;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 2rem 3rem;
    background: $grey;
  }
}
