@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: rgb(0, 0, 0);
  line-height: 1.5;
  color: white;
}

li {
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: clamp(1.8rem, 3vw, 2.4rem);
  transition: all 0.3s ease;
}

a:hover {
  color: #00acc1;
}

// pagination swiper

.swiper-pagination {
  bottom: 10% !important;

  &-bullet {
    background-color: white !important;
    width: 10px !important;
    height: 10px !important;
  }
}

input {
  color: white;
  &::placeholder {
    color: white;
  }
  &:focus {
    outline: none;
    border: none;
  }
}
